<div id="loginModal" class="reveal-modal small" data-reveal>
  <h4>Connexion</h4><hr />
  <form action="login" method="POST">
   <div class="row">
    <div class="large-12 columns">
     <label>Nom d'utilisateur / Addresse éléctronique
      <input type="text" name="username" />
     </label>
    </div>
   </div>
   <div class="row">
    <div class="large-12 columns">
     <label> Mot de passe
      <input type="password" name="password" />
     </label>
    </div>
   </div>
   <div class="row">
    <div class="small-8 small-centered large-centered columns">
     <button type="submit" class="button expand radius">Connexion</button>
    </div>
   </div>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>
